<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for edits</p>
    <ul>
      <li>Maximum one edit per post, use it wisely</li>
      <li>Additional charges will apply</li>
      <li>No refund and no guarantee the edit will work</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@sponsored_post.topic, @sponsored_post] do |s| %>
    <div class="form-group">
      <%= s.label :title %>
      <%= s.text_field :title, class: 'form-control', placeholder: "Insert Edits Here" %>
    </div>
    <div class="form-group">
      <%= s.label :body %>
      <%= s.text_field :body, rows: 8, class: 'form-control', placeholder: "Insert Edits Here" %>
    </div>
    <div class="form-group">
      <%= s.label :price %>
      <%= s.number_field :price, rows: 8, class: 'form-control', placeholder: "$$$" %>
    </div>
    <%= s.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
